@media screen and (max-width:1174px) and (min-width:1025px) {
    .HeroSection .heroContent .introImg .rectangles {
        position: relative;
        top: 30vh;
    }
    .HeroSection {
        height: 105vh;
        min-height: 700px;
    }
}

@media screen and (max-width:1024px) {
    .HeroSection {
        height: 100vh;
        min-height: 1000px;
    }
    .HeroSection .heroContent .introImg {
        position: relative;
        left: 10vw;
    }
    .HeroSection .heroContent .introText {
        width: 70vw;
    }
    .HeroSection .heroContent .introImg img {
        height: 50vh;
        top: 10vh;
    }
    .journey {
        display: flex;
        flex-wrap: wrap-reverse;
        overflow-x: hidden;
        position: relative;
        top: 3vh;
    }
    .journey .TestimonialsLeft {
        width: 100%;
        position: relative;
        left: 20vw;
        height: 760px;
    }
    .journey .TestimonialsRight {
        width: 50vw;
        height: 450px;
    }
    .courses {
        position: relative;
        top: -100px;
    }
    .courses button {
        position: relative;
        left: 70vw;
    }
    .download {
        position: relative;
        top: 0;
    }
    .download {
        position: relative;
    }
    footer {
        position: relative;
        top: 150px;
    }
    footer .footerContainer .contact {
        width: 100%;
    }
}

@media (max-width:894px) {
    footer {
        position: relative;
        top: 300px;
    }
}

@media (max-width:767px) {
    .HeroSection .menuBar nav .menuBarToggle {
        visibility: visible;
    }
    .HeroSection .menuBar nav a {
        visibility: hidden;
    }
    .HeroSection .menuBar nav button {
        visibility: hidden;
    }
}

@media (max-width:767px) {
    .journey .TestimonialsLeft .messages .message {
        left: -80px;
    }
    .journey .TestimonialsLeft .messages .message2 {
        left: -80px;
    }
    .journey .TestimonialsRight {
        width: 90vw;
    }
    .courses .course .course1 {
        width: 300px;
    }
    .courses .course .course1 .coursePhoto {
        width: 290px;
    }
    .courses .course .course1 .courseLine {
        width: 290px;
    }
    .courses .course .course2 {
        width: 300px;
    }
    .courses .course .course2 .coursePhoto2 {
        width: 290px;
    }
    .courses .course .course2 .courseLine2 {
        width: 290px;
    }
    .courses .course .course2 .titleTime2 .title2 {
        position: relative;
        top: 0;
    }
    .courses button {
        position: relative;
        left: 40vw;
    }
}


/* vivek */